# Compiled class files
*.class

# Log files
*.log

# Package Files #
*.jar
*.war
*.ear
*.nar

# virtual machine crash logs
hs_err_pid*

# Maven
target/
/target/
**/target/

# Gradle
.gradle/
build/

# IntelliJ IDEA files
.idea/
*.iml
*.ipr
*.iws
*.icls
*.ico

# Eclipse
.metadata
*.pydevproject
.project
.org.eclipse.jdt.core.prefs
.classpath
.settings/
.bin/

# Operating System Files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db



